@font-face {
    font-family: 'Formula1-Regular';
    src: url('/static/fonts/Formula1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Formula1-Bold';
    src: url('/static/fonts/Formula1-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

body {
    font-family: 'Formula1-Regular', sans-serif;
}

.title {
    font-family: 'Formula1-Bold';
}

#globe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;  /* Full viewport width */
    height: 100vh; /* Full viewport height */
}