.plot-container{
    white-space: nowrap;
}


.group_1{
    display: inline;
}

#tooltip{
    position: absolute;
    opacity: 0;
    width: 120px;
    background-color:  lightblue;
    border-radius: 5px;

}


