.plot-container{
    white-space: nowrap;
}

.group_1{
    display: inline;
}

.style_tooltip{
    position: absolute;
    visibility: hidden;
    border-radius: 5px;
    font-family: sans-serif;
    text-align: left;
    font-size: 50%;
}

#tooltip_team_name{
     font-weight: bold;
     margin-bottom: 6px;
}

#tooltip{
    background-color: black;
    opacity: 0.8;
    color: white;
    width: 110px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
}


/* TODO: Decide if tooltip should be adjusted for the scatterplot */
#tooltip_scatter_plot{
    background-color: white;
    opacity: 0.8;
    color: black;
    padding-left: 1px;
    font-size: 65%;
}

#lineplot {
    position: relative;  
    width: 1000px;  
    height: 450px; 
}

#selectButton {
    position: absolute;
    top: 10px;  
    left: 50px;  
    z-index: 10;  
}