<!DOCTYPE html>
<html lang="en">

<!-- header -->
<head>
  <meta charset="UTF-8">
  <title>Project</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
</head>

<body>

<div id="globe"></div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="module" src="../static/js/globe.js"></script>

<script type="module">
  document.addEventListener('DOMContentLoaded', function() {
    import { init_globe } from "../static/js/globe.js";

    // Pass globe_data to init_globe only after the DOM is fully loaded
    init_globe({{ globe_data | safe }});
  });
</script>

</body>

</html>