<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style_max.css')}}">
    <title>F1-Max</title>
</head>

<body>
    <div id="circuit"></div>

    <select id="selectCircuit">
    </select>
    <select name="select_year" id="select_year">
    </select>

    <button id="start_race">(Re-) Start Race</button>
    <button id="stop_race">Stop Race</button>
    <button id="resume_race">Resume Race</button>

    <div class="slider">
        <label for="speedSlider">Renngeschwindigkeit: </label>
        <input type="range" id="speedSlider" min="-270" max="-2" value="-20">
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="module" src="../static/js/circuit.js"></script>
    <script type="module">
        import { init_circuit } from "../static/js/circuit.js"
        init_circuit({{ circuit_data | safe }})

    </script>

</body>

</html>